

<div class="card" *ngIf="task">
  <div class="form-group">
    <input [(ngModel)]="task.title" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="title" required="required" placeholder="title">
  </div>
  <div class="form-group">
    <input [(ngModel)]="task.description" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="description" placeholder="description">
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col">
        <label> priority :
          <input [(ngModel)]="task.priority" [ngModelOptions]="{standalone: true}" type="number" id="priority" min="1" max="10" placeholder="priority">
        </label>

      </div>
      <div class="col">
        <label for="done" class="btn btn-info">
          <input [(ngModel)]="task.done" [ngModelOptions]="{standalone: true}" type="checkbox" class="badge-info" id="done" data-toggle="switch">
          <a style="padding-left: 10px">Done</a>
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <button (click)="goBack()" class="col-2">go back</button>
    <button (click)="save()" class="col-2">save</button>
    <button (click)="deleteTask()" class="col-2">delete</button>
  </div>

</div>
