<div class="card" *ngIf="activity">
  <div class="form-group">
    <label for="name">Activity Name:</label>
    <input [(ngModel)]="activity.name" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="name" required="required" placeholder="name">
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <input [(ngModel)]="activity.description" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="description" placeholder="description">
  </div>
  <div class="form-group">
    <label for="startTime">Start Time:</label>
    <input [ngModel]="activity.startTime | date: 'HH:mm yyyy-MM-dd'" (ngModelChange)="activity.startTime=$event" type="text" class="form-control" id="startTime"/>
  </div>
  <div class="form-group">
    <label for="endTime">End Time:</label>
    <input [ngModel]="activity.endTime | date: 'HH:mm yyyy-MM-dd'" (ngModelChange)="activity.endTime=$event" type="text" class="form-control" id="endTime"/>
  </div>
  <div class="form-group">
    <label for="place">Place:</label>
    <input [(ngModel)]="activity.place" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="place" placeholder="place" required="required">
  </div>
  <div class="form-group">
    <label for="priority">Priority: &nbsp;</label>
    <input [(ngModel)]="activity.priority" [ngModelOptions]="{standalone: true}" type="number" id="priority" min="1" max="10" placeholder="priority">
  </div>
  <div class="form-group">
    <label for="participant">Participant:</label>
    <input [(ngModel)]="activity.participant" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="participant" placeholder="participant">
  </div>
  <div class="form-group">
    <label for="category">Participant:</label>
    <input [(ngModel)]="activity.category" [ngModelOptions]="{standalone: true}" type="text" class="form-control"  id="category" placeholder="category">
  </div>
  <div class="row">
    <button (click)="goBack()" class="col-md-2">go back</button>
    <button (click)="save()" class="col-md-2">save</button>
    <button (click)="deleteTask()" class="col-md-2">delete</button>
  </div>

</div>
