/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
body {
  font-family: "Helvetica Neue";
  color: #283045;
}


.card {
  padding: 1rem;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
  border-radius: 8px;
  margin: 1rem;
}
